<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ADMIN LOGIN</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/authentication/admin_login.css' %}">
  <link rel="shortcut icon" href="{% static 'imgs/favicon.png' %}"type="image/x-icon">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <form  method="POST"  class="box" action="{% url "admin_side:admin_login_handler" %}">
            {% csrf_token %}
            <h1>ADMIN LOGIN</h1>
            <input type="text" name="log_id" placeholder="USERNAME OR EMAIL" />
            <input type="password" name="password" placeholder="PASSWORD" />
            <input type="submit"  value="LOGIN" />
            <div class="col-md-12">   
              {% for message in messages  %}
              <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              {% endfor %}
            </div>
            
          </form>
          <a href="{% url "authentication:login_handler" %}">GO TO USER SIDE</a>
        </div>
      </div>
    </div>
  </div>
  
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
  
</body>
</html>
