<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>
    <div class="card" style="width: 37rem; margin-top:10rem; margin-left:27rem;">
        <div class="card-body">
            <h3>Password Successfully Reset</h3>

            <p>Dear {{user.get_username}},

            Your account security is our priority, and we're pleased to confirm that the password change has been completed. <br>

            If you initiated this change, you can now log in to your account using your updated credentials. <br>

            If you did not request this password reset or believe it was unauthorized, please contact our support team immediately at yourseamlesslife@gmail.com <br>

            Thank you for trusting Seamless. If you have any further questions or concerns, feel free to reach out. <br>

            <h2>Your password has been set. You can <b><a style="color:red;" href="{% url "authentication:login_handler" %}"></b> log in now</a></h2>
            Best regards,<br>

            Seamless Team</p>
        </div>
    </div>
</body>
</html>