<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="card" style="width: 37rem; margin-top:10rem; margin-left:27rem;">
        <div class="card-body">
            <h1>Forgotten your password?</h1>
            <p>Enter your e-mail address to obtain a new password.</p>
        <form action="." method="post">
            {{ form.as_p }}
            <p><input type="submit" class="form-action" value="Send e-mail"></p>
            {% csrf_token %}
        </form>
        </div>
    </div>

</body>
</html>