<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>
<div class="card" style="width: 37rem; margin-top:10rem; margin-left:27rem;">
    <div class="card-body">
        <h5 class="card-title">Change Password</h5>
            <div class="form-group">
                {% if validlink %}
                <p>Please enter your new password twice:</p>
                <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit" class="form-control btn button" value="" >Change my password</button>
                </form>
                {% else %}
                <p>The password reset link was invalid, possibly because it has
                    already been used. Please request a new password reset.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</body>
</html>