<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset your password</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body >
    <div class="card" style="width: 37rem; margin-top:10rem; margin-left:27rem;">
        <div class="card-body">
        <h3>Password Reset Link Sent Successfully</h3>
            <hr>
    <p>Dear {{user.get_username}},
        
        We hope this message finds you well. We have successfully received your request to reset the password associated with your account on Seamless. <br>
        
        A password reset link has been sent to the email address associated with your account. Please check your inbox and follow the instructions in the email to reset your password. <br>
        
        If you do not see the email in your inbox, please check your spam or junk folder. Sometimes, these emails may be filtered there. <br>
        
        Should you encounter any issues or have further questions, feel free to reach out to our support team at yourseamlesslife@gmail.com   We're here to help! <br>
        
        Thank you for choosing Seamless. <br>
        
        Best regards, <br>
        
        Seamless Team</p>
    </div> 
</div> 
</body>
</html>