{% extends "base.html" %} 
{% block title %}MY DASHBOARD{% endblock title %} 
{%block main %}
{% load static %}
<style>
    #main_content{
        position: absolute;
        z-index: 1;
        top:70px;
        left:370px
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">


<div class="page-header breadcrumb-wrap">
    <div class="container">
        <div class="breadcrumb">
            <a href="{% url "user_side:landing" %}" rel="nofollow">Home</a>
            <span></span>My Account
        </div>
    </div>
</div>

<section class="pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-md-4">
                        <div class="dashboard-menu">
                            <ul class="nav flex-column" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>My Wallet</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                </li>
                               
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url "authentication:logout" %}"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content dashboard-content">
                            
                            <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <div id="main_content">
                                            {% if user %}
                                            <p>NAME :<strong> {{myuser.full_name}}</strong></p>
                                            <p>USER NAME :<strong> {{request.user}}</strong></p>
                                            <p>PH :<strong> {{myuser.phone_number}}</strong></p>
                                            <p>EMAIL :<strong> {{request.user.email}}</strong></p>
                                            {% else %}
                                            <p>NAME :<strong> No name Yet</strong></p>
                                            <p>USER NAME :<strong> {{request.user}}</strong></p>
                                            <p>PH :<strong> {{myuser.phone_number}}</strong></p>
                                            <p>EMAIL :<strong> {{request.user.email}}</strong></p>
                                            {% endif %}
                                        </div>
                                        <h5 class="mb-0">Hello {{myuser.full_name}}! </h5>
                                        {% if myuser.profile_pic %}
                                        <img width="180px" height="190px" class="img-xs rounded-circle" src="{{myuser.profile_pic.url}}" alt="User">
                                        {% else %}
                                        <img style="width:180px" class="img-xs rounded-circle" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="User">
                                        {% endif %}
                                    </div>
                                 
                                    <div class="card-body">
                                        <p>From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a></p>
                                    </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>You can manage your account Details from here</h5>
                                            </div>
                                            
                                                <a href="{% url "account:account_edit" %}"  type="submit" class="btn btn-fill-out submit" name="set_default" value="Submit">Edit Or view Account Details</a>
                                            
                                        </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                <div class="card-header">
                                    <h5 class="mb-0">My Wallet</h5>
                                </div>
                                <div class="table-responsive">
                                    <table border="1">
                                        <thead>
                                            <tr>
                                                <th>Available Balance</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                {% if seam.balance > 0 %}
                                                <td>₹ {{seam.balance}}</td>
                                                {% else %}
                                                <td>₹ 0</td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    </table>
                                   <a href="{% url "wallet:wallet_view" %}"><button type="button" class="button btn">Full Statement</button></a>
                                </div>
                                <div class="card-header" style="margin-top:30px;">
                                    <h3>REFERRAL AND REDEEM</h3>
                                    <div class="card-body">
                                        <div>My Referral Code :  {{ref.my_referral}}</div>
                                        
                                        {% if ref.referral_code is none %}
                                        <hr>
                                        <form action="{% url "wallet:get_refferal_code" %}" method="POST">
                                            {% csrf_token %}
                                            <input type="text" name="referral_code">
                                            <br>
                                            <br>
                                            <div>
                                                <button type="submit" class="btn button">GET REFERRAL</button>
                                              </div>
                                        </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">Orders tracking</h5>
                                    </div>
                                    <div class="card-body contact-from-area">
                                        <p>To see the progress or the full details of an order please enter your Order Item Number and the Payment id in  the box below and press "Track" button. This was given to you on your receipt and in the confirmation email you should have received.</p>
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <form class="contact-form-style mt-30 mb-50" action="{% url "order:user_order_tracking" %}" method="post">
                                                    {% csrf_token %}
                                                    <div class="input-style mb-20">
                                                        <label>Order Item id</label>
                                                        <input name="order-id" placeholder="Order Item id can be Found in the order history or mail" type="text" class="square">
                                                    </div>
                                                    <div class="input-style mb-20">
                                                        <label>Payment Id</label>
                                                        <input name="billing-email" placeholder="Payment id can be Found in the order history or mail" type="text" class="square">
                                                    </div>
                                                    <button class="submit submit-auto-width" type="submit">Track</button>
                                                    <a href="{% url "order:order_user_view" %}"><button  class="submit submit-auto-width" type="button">My Orders</button></a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                   
                                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                        <div class="row">
                                            {% for bill in billing%}
                                            <div class="col-lg-6">
                                                <div class="card mb-3 mb-lg-0">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">Default Billing Address</h5>
                                                    </div>
                                                    {% if bill.FullAddress%}
                                                    <div class="card-body">
                                                        <address>{{bill.name}} <br> {{bill.FullAddress}}<br>{{bill.pincode}}</address>
                                                        <p>Phone: {{bill.phone_number}}</p>
                                                    </div>
                                                    {% else %}
                                                   
                                                    <div class="card-body">
                                                        <address>No Billing address have been created so far<br> <br></address>
                                                        <p>Phone: None </p>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endfor %}

                                    {% for ship in shipping %}
                                    <div class="col-lg-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Default Shipping Address</h5>
                                            </div>
                                            {% if ship.FullAddress%}
                                            <div class="card-body">
                                                <address>{{ship.name}} <br> {{ship.FullAddress}}<br>{{ship.pincode}}</address>
                                                <p>Phone: {{ship.phone_number}}</p>
                                            </div>
                                            {% else %}
                                            <div class="card-body">
                                                <address>No Billing address have been created so far<br> <br></address>
                                                <p>Phone: None </p>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <a href="{% url "account:add_address" %}" style="margin-top:20px"><button class="btn">Add new address</button></a>
                                    <a href="{% url "account:manage_address" %}" style="margin-top:-46.5px; margin-left:190px"><button class="btn">Manage All Address</button></a>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main %}