{% extends "base.html" %} 
{% block title %}USER CHECKOUT PAGE{% endblock title %} 
{%block main %}
{% load static %} 
<link rel="stylesheet"  href="{% static 'css/main.css' %}"> 
<div>
    {% for message in messages  %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {% endfor %}
</div>
<main class="main">
  <div class="page-header breadcrumb-wrap">
      <div class="container">
          <div class="breadcrumb">
              <a href="index.html" rel="nofollow">Home</a>
              <span></span> Shop
              <span></span> Checkout
          </div>
      </div>
  </div>
  <section class="mt-50 mb-50">
      <div class="container">
          <div class="row">
            {% if request.user.is_authenticated %}

            {% else %}
              <div class="col-lg-6 mb-sm-15">
                  <div class="toggle_info">
                      <span><i class="fi-rs-user mr-10"></i><span class="text-muted">Already have an account?</span> <a href="#loginform" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to login</a></span>
                  </div>
                  <div class="panel-collapse collapse login_form" id="loginform">
                      <div class="panel-body">
                          <p class="mb-30 font-sm">If you have shopped with us before, please enter your details below. If you are a new customer, please proceed to the Billing &amp; Shipping section.</p>
                          <form method="post">
                              <div class="form-group">
                                  <input type="text" name="email" placeholder="Username Or Email">
                              </div>
                              <div class="form-group">
                                  <input type="password" name="password" placeholder="Password">
                              </div>
                              <div class="login_footer form-group">
                                  <div class="chek-form">
                                      <div class="custome-checkbox">
                                          <input class="form-check-input" type="checkbox" name="checkbox" id="remember" value="">
                                          <label class="form-check-label" for="remember"><span>Remember me</span></label>
                                      </div>
                                  </div>
                                  <a href="#">Forgot password?</a>
                              </div>
                              <div class="form-group">
                                  <button class="btn btn-md" name="login">Log in</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              {% endif %}
          </div>
          <div class="row">
              <div class="col-12">
                  <div class="divider mt-50 mb-50"></div>
              </div>
          </div>
          <div class="row">
            {% if request.user.is_authenticated %}
            <div class="col-md-6">
                <h4 style="margin-bottom: 20px;">Please select your Shipping address</h4>
                <div class="form-group">
                    <div  class="custom_select">
                        <select id='select' class="form-control">
                            {% if default_shipping or shipping_address  %}
                            {% for default_shipping in default_shipping  %}
                            <option style="color: green;" value=""><b>{{default_shipping.FullAddress}} - DEFAULT</b></option>
                            {% endfor %}
                            {% for shipping in shipping_address %}
                        <option value="{{shipping.id}}"><b>{{shipping.FullAddress}}</option>
                            {% endfor %}
                        {% else %}
                        <option style="color: green;" value=""><b>No address available</b></option>
                        {% endif %}
                        </select>
                    </div>
                </div>
                <h4 style="margin-bottom: 20px; margin-top:20px">Please select your Billing address</h4>
                <div class="form-group">
                    <div  class="custom_select">
                        <select id='select' class="form-control">
                            {% if default_billing or billing_address  %}
                            {% for default_billing in default_billing %}
                            <option style="color: green;" value=""><b>{{ default_billing.FullAddress }} - DEFAULT</b></option>
                            {% endfor %}
                                {% for billing in billing_address %}
                            <option value="{{billing.id}}"><b>{{billing.FullAddress}}</b></option>
                                {% endfor %}
                            {% else %}
                            <option style="color: green;" value=""><b>No address available</b></option>
                            {% endif %}
                        </select>
                       
                    </div>
                </div>

                <a href="{% url "account:add_address" %}" style="margin-top:20px"><button class="btn">Add new address</button></a>
                
                <hr>
                
                <form method="post">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" unchecked>
    
                        <label class="form-check-label" for="flexCheckChecked">
                            Check me to use Temporary Address
                        </label>
                    </div>
                    <div id="my_address_form" style="display:None;">
                        <h4 style="margin-bottom: 20px; margin-top:20px">Use a Temporary Address</h4>
                        <div class="form-group">
                            <input type="text" required name="fname" placeholder="First name *">
                        </div>
                        <div class="form-group">
                            <input type="text" required name="lname" placeholder="Last name *">
                        </div>
                        
                        <div class="form-group">
                            <input type="text" name="billing_address" required placeholder="Address *">
                        </div>
                        <div class="form-group">
                            <input type="text" name="billing_address2" required placeholder="Address line2">
                        </div>
                        <div class="form-group">
                            <input required type="text" name="city" placeholder="City / Town *">
                        </div>
                        <div class="form-group">
                            <input required type="text" name="state" placeholder="State / County *">
                        </div>
                        <div class="form-group">
                            <input type="text" required name="country" placeholder="Country *">
                        </div>
                        <div class="form-group">
                            <input required type="text" name="zipcode" placeholder="Postcode / ZIP *">
                        </div>
                        <div class="form-group">
                            <input required type="text" name="phone" placeholder="Phone *">
                        </div>
                        <div class="form-group">
                            <input required type="text" name="email" placeholder="Email address *">
                        </div>
                        <div id="collapsePassword" class="form-group create-account collapse in">
                            <input required type="password" placeholder="Password" name="password">
                        </div>
                    </div>
                </form>
            </div>


            {% else %}
              <div class="col-md-6">
                  <div class="mb-25">
                      <h4>Shipping Details</h4>
                  </div>
                  <form method="post">
                      <div class="form-group">
                          <input type="text" required name="fname" placeholder="First name *">
                      </div>
                      <div class="form-group">
                          <input type="text" required name="lname" placeholder="Last name *">
                      </div>
                      <div class="form-group">
                          <input required type="text" name="cname" placeholder="Company Name">
                      </div>
                      <div class="form-group">
                          <div class="custom_select">
                              <select class="form-control select-active">
                                <option value="CN">China</option>
                                <option value="IN">India</option>
                                <option value="US">United States</option>
                                <option value="ID">Indonesia</option>
                                <option value="PK">Pakistan</option>
                                <option value="BR">Brazil</option>
                                <option value="NG">Nigeria</option>
                                <option value="BD">Bangladesh</option>
                                <option value="RU">Russia</option>
                                <option value="MX">Mexico</option>
                              </select>
                          </div>
                      </div>
                      <div class="form-group">
                          <input type="text" name="billing_address" required placeholder="Address *">
                      </div>
                      <div class="form-group">
                          <input type="text" name="billing_address2"  placeholder="Address line2">
                      </div>
                      <div class="form-group">
                          <input required type="text" name="city" placeholder="City *">
                      </div>
                      <div class="form-group">
                          <input required type="text" name="state" placeholder="State *">
                      </div>
                      <div class="form-group">
                          <input required type="text" name="zipcode" placeholder="Postcode / ZIP *">
                      </div>
                      <div class="form-group">
                          <input required type="text" name="phone" placeholder="Phone *">
                      </div>
                      <div class="form-group">
                          <input required type="text" name="email" placeholder="Email address *">
                      </div>
                      <div id="collapsePassword" class="form-group create-account collapse in">
                          <input required type="password" placeholder="Password" name="password">
                      </div>
                  </form>
              </div>
              {% endif %}


              <div class="col-md-6">
                  <div class="order_review">
                      <div class="mb-20">
                          <h4>Your Orders</h4>
                      </div>
                      <div class="table-responsive order_table text-center">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th colspan="2">Product</th>
                                      <th>Total</th>
                                  </tr>
                              </thead>
                              <tbody>
                                {% for cart_item in cart_item %}
                                  <tr>
                                      <td class="image product-thumbnail"><img width="60px" height="80px" src="{{cart_item.product.thumbnail_img.url}}" alt="#"></td>
                                      <td>
                                          <h5><a href="shop-product-full.html">{{cart_item.product.get_variant_name}}</a></h5> <span class="product-qty">x {{cart_item.quantity}}</span>
                                      </td>
                                      <td>{{cart_item.product.sale_price}} x {{cart_item.quantity}}</td>
                                  {% endfor %}
                                  {% if cart.coupon %}
                                <div class="panel-body">
                                    <div class="form-group">
                                        <input type="text" name="user_coupon" value="{{cart.coupon}}" readonly>
                                    </div>
                                    <a  href="{% url "order:order_coupon_delete"  %}"><button style="margin-bottom:20px" Type='Submit' class="btn  btn-sm"><i class="fi-rs-label mr-10"></i>Remove Coupon</button></a>
                                </div>
                                
                                  {% else %}
                                    <p>Add Coupons</p>  
                                    <div class="panel-body">
                                        <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                        <form action="{% url "order:order_coupon" %}" method="post">
                                        {% csrf_token %}
                                            <div class="form-group">
                                                <input type="text" name="user_coupon" placeholder="Enter Coupon Code...">
                                            </div>
                                            <div class="form-group">
                                                <button class="btn  btn-md" type="submit" name="login">Apply Coupon</button>
                                            </div>
                                        </form>
                                    </div>
                                    {% endif %}
                                  <tr>
                                      <th>SubTotal</th>
                                      <td class="product-subtotal" colspan="2"> ₹ {{cart.sub_total}}</td>
                                      
                                  </tr>
                                  <tr>

                                      <th>Shipping</th>
                                      {% if cart.shipping %}
                                      <td colspan="2"><em>₹ {{cart.shipping}}</em> <br><span style="font-size:11px; color:gray;"><b>WANT TO AVOID SHIPPING CHARGE PURCHASE UPTO  ₹ 200000</b></span></td>
                                      {% else %}
                                      <td colspan="2"><em>Free Shipping</em></td>
                                      {% endif %}
                                  </tr>
                                  {% if cart.coupon %}
                                    <tr>
                                        <th>Coupon</th>
                                        <td colspan="2" class="product-subtotal"> ₹ {{cart.coupon}}</td>
                                    </tr>
                                    {% else %}

                                    {% endif %}
                                
                                  <tr>
                                      <th>Total</th>
                                      <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900"> ₹ {{cart.total}}</span></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                      <div class="payment_method">
                          <div class="mb-25">
                              <h5>Payment</h5>
                          </div>
                          <div class="payment_option">
                              <div style="margin-bottom:35px" class="custome-radio">
                                  <input class="form-check-input" required type="radio" name="payment_option" id="exampleRadios3" checked="">
                                  <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">Direct Bank Transfer</label>
                                  <div class="form-group collapse in" id="bankTranfer">
                                      <p class="text-muted mt-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. </p>
                                  </div>
                                  <img style=" position: relative; left: 25px; top: 15px;" width="45" height="45" src="https://img.icons8.com/external-flat-wichaiwi/64/external-bank-transfer-banking-and-financial-flat-wichaiwi.png" alt="external-bank-transfer-banking-and-financial-flat-wichaiwi"/>
                              </div>
                              <div class="custome-radio">
                                  <input class="form-check-input" required type="radio" name="payment_option" id="exampleRadios5" checked="">
                                  <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#paypal" aria-controls="paypal">UPI</label>
                                  <div class="form-group collapse in" id="paypal">
                                      <p class="text-muted mt-5">Pay via PayPal; you can pay with your credit card if you don't have a PayPal account.</p>
                                  </div>
                                    <svg style="margin-left: 130px;" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 48 48">
                                        <polygon fill="#388e3c" points="29,4 18,45 40,24"></polygon><polygon fill="#f57c00" points="21,3 10,44 32,23"></polygon>
                                    </svg>
                              </div>

                                <div class="custome-radio">
                                    <input class="form-check-input" required type="radio" name="payment_option" id="exampleRadios6" checked="">
                                    <label class="form-check-label" for="exampleRadios6" data-bs-toggle="collapse" data-target="#cod" aria-controls="cod">Cash On Delivery</label>
                                    <div class="form-group collapse in" id="cod">
                                        <p class="text-muted mt-5">cash on delivary you can pay with your credit card if you don't have a PayPal account.</p>
                                    </div>
                                    <img style=" position: relative; left: 45px; top: 15px" width="45" height="45" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-cash-on-delivery-web-store-flaticons-lineal-color-flat-icons-4.png" alt="external-cash-on-delivery-web-store-flaticons-lineal-color-flat-icons-4"/>
                                </div>

                            </div>
                      </div>
                      <a href="#" class="btn btn-fill-out btn-block mt-30">Place Order</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function() {
        function openAddress() {
            $('#my_address_form').toggle($('#flexCheckChecked').prop('checked'));
        }

        $('#flexCheckChecked').change(openAddress);

        openAddress();
    });
</script>

{% endblock main %}
