{% extends "base.html" %} 
{% block title %}PRODUCT LIST{% endblock title %} 
{%block main %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">


<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url "user_side:landing" %}" rel="nofollow">Home</a>
                <span></span> Shop
            </div>
        </div>
    </div>

    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    
                    {% comment %} recommendation will be shown here {% endcomment %}
                    <div class="row product-grid-3">
                        {% if recommend_products %}
                        <div class="shop-product-fillter">
                            <div class="totall-product">
                                <p><strong class="text-brand">Products You May Also like</strong></p>
                            </div>
                        </div>

                        {% for all in recommend_products %}
                        <div class="col-lg-4 col-md-4 col-12 col-sm-6" >
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="{% url "user_side:product_details" id=all.id %}">
                                            <img class="default-img" width='90px'  height='230px' src="{{all.variantimage_set.first.images.url}}" alt="">
                                        </a>
                                    </div>
                                    <div class="product-action-1">
                                        {% if all.sale_price > 0 %}
                                        {% if user.is_authenticated %}
                                        <a aria-label="Love and View" class="action-btn hover-up" href="{% url "user_side:add_wishlist" id=all.id %}"><i class="fi-rs-heart"></i></a>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="product-badges product-badges-position product-badges-mrg">
                                        <span class="hot">Hot</span>
                                    </div>
                                </div>
                                
                                <div class="product-content-wrap">
                                    <h2><a href="shop-product-right.html">{{ all.get_variant_name }}</a></h2>
                                    {% if all.sale_price > 0 %}
                                    <div class="rating-result" title="90%">
                                        <span>
                                            <span>90%</span>
                                        </span>
                                    </div>
                                    <div class="product-price">
                                        
                                        <span>{{all.sale_price}} </span>
                                        {% if  all.sale_price != all.max_price%}
                                        <span class="old-price">{{all.max_price}}</span>
                                        {% endif %}
                                    </div>
                                    {% if user.is_authenticated %}
                                    <div class="product-action-1 show">

                                        {% if all.stock < 1 %}
                                    <img width="40" height="40" src="https://img.icons8.com/external-victoruler-linear-colour-victoruler/64/external-out-of-stock-logistics-victoruler-linear-colour-victoruler.png" alt="external-out-of-stock-logistics-victoruler-linear-colour-victoruler"/>
                                    {% else %}      
                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="{% url "cart:add_cart" id=all.id %}"><i class="fi-rs-shopping-bag-add"></i></a>
                                        {% endif %}
                                        
                                    </div>
                                    {% endif %}
                                    {% else %}
                                    <span  class="text-brand" style="padding-top:30px;">Currently Unavailable</span>
                                
                                    {% endif %}
                                </div>
                                
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    

                    {% comment %} recommendation will end here {% endcomment %}
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p> We found <strong class="text-brand">{{total}}</strong> items for you!</p>
                        </div>
                    </div>
                    <div class="row product-grid-3">
                        {% for all in all_products %}
                        <div class="col-lg-4 col-md-4 col-12 col-sm-6" >
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="{% url "user_side:product_details" id=all.id %}">
                                            <img class="default-img" width='90px'  height='230px' src="{{all.variantimage_set.first.images.url}}" alt="">
                                        </a>
                                    </div>
                                    <div class="product-action-1">
                                        {% if all.sale_price > 0 %}
                                        {% if user.is_authenticated %}
                                        <a aria-label="Love and View" class="action-btn hover-up" href="{% url "user_side:add_wishlist" id=all.id %}"><i class="fi-rs-heart"></i></a>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="product-badges product-badges-position product-badges-mrg">
                                        <span class="hot">Hot</span>
                                    </div>
                                </div>
                                
                                <div class="product-content-wrap">
                                    <h2><a href="shop-product-right.html">{{ all.get_variant_name }}</a></h2>
                                    {% if all.sale_price > 0 %}
                                    <div class="rating-result" title="90%">
                                        <span>
                                            <span>90%</span>
                                        </span>
                                    </div>
                                    <div class="product-price">
                                        
                                        <span>{{all.sale_price}} </span>
                                        {% if  all.sale_price != all.max_price%}
                                        <span class="old-price">{{all.max_price}}</span>
                                        {% endif %}
                                    </div>
                                    {% if user.is_authenticated %}
                                    <div class="product-action-1 show">

                                        {% if all.stock < 1 %}
                                    <img width="40" height="40" src="https://img.icons8.com/external-victoruler-linear-colour-victoruler/64/external-out-of-stock-logistics-victoruler-linear-colour-victoruler.png" alt="external-out-of-stock-logistics-victoruler-linear-colour-victoruler"/>
                                    {% else %}      
                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="{% url "cart:add_cart" id=all.id %}"><i class="fi-rs-shopping-bag-add"></i></a>
                                        {% endif %}
                                        
                                    </div>
                                    {% endif %}
                                    {% else %}
                                    <span  class="text-brand" style="padding-top:30px;">Currently Unavailable</span>
                                
                                    {% endif %}
                                </div>
                                
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!--pagination-->
                    <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                <li class="page-item"><a class="page-link" href="#">16</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="fi-rs-angle-double-small-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 primary-sidebar sticky-sidebar">
                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                        <ul class="categories">
                            <li><a href="{% url "user_side:product_list"%}">ALL PRODUCTS</a></li>
                            {% for cat in category%}
                            <li><a href="{% url "user_side:product_list" id=cat.id%}">{{cat.category_name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Fillter By Price -->
                    <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">FILTER BY PRICE</h5>
                        <form action="{% url "user_side:product_filter" %}" method="POST">
                            {% csrf_token %}
                            <div style="display:flex;">
                                <input type="number" name="min_price" id="min_price" class="form-action" style="margin-right:10px;" default="0">
                                <input type="number" name="max_price" id="max_price" class="form-action" default="0">
                            </div>
                            <button type="submit" class="btn button" style="margin-left:10px; margin-top:20px;">FILTER THE PRICE</button>
                        </form>
                    </div>
                    <!-- Product sidebar Widget -->
                    <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">ORDER BY</h5>
                            <ul class="categories">
                                <li><a href="{% url "user_side:product_sort" order_by='sale_price' %}">LOW - HIGH</a></li>
                                <li><a href="{% url "user_side:product_sort" order_by='-sale_price' %}">HIGH - LOW</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


{% endblock main %}
